# define commands by prefixing the name with 'COMMAND_'
# '@' as first character stops make from echoing the command at start of output
COMMAND_shell=@${DOCKER_COMPOSE} run --entrypoint sh --rm app # run shell in the app container

# override the docker compose command, eg docker-compose or podman-compose
#DOCKER_COMPOSE=podman-compose
